* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 450px;
  width: 450px;
  border: 1px solid;
  transform: translate(400px, 150px);
  background-image: url(back.jpg);
  background-size: 100%;
  transition: 1s ease-in-out;
}
.box {
  font-size: 1.5rem;
  text-align: center;
  padding: 12px;
  background-color: blue;
  color: white;
  border-radius: 10px;
}
img {
  height: 200px;
  width: 200px;
  position: relative;
  top: 100px;
  left: 150px;
}
button {
  margin-top: 25px;
  border-radius: 10px;
  margin-left: 10px;
}
.box:hover {
  background-color: black;
  color: bisque;
  transition: 0.5s ease;
}

.box:active {
  background-color: cyan;
  color: crimson;
  transition: 0.5s ease;
}
.container > .rotate:hover ~ img {
  transition: all 0.5s ease-in-out;
  transform: rotate(400deg);
}
.container > .skew:hover ~ img {
  transition: all 0.5s ease-in-out;
  transform: skew(40deg);
}
.container > .scale:hover ~ img {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}
.container > .translate:hover ~ img {
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg) translate(50px, 50px);
}
.container:hover {
  background-size: 130%;
  filter: grayscale(50%);
}
